.container {
    position: relative;
    width: 100%;
    padding: 35px 22px 0;
    border-top: 1px solid #ddd;
    .colorPickerWrapper {
        position: absolute;
        z-index: 5;
        top: 10px;
        left: 12px;
    }
    .send {
        position: absolute;
        top: -25%;
        right: 30px;
    }
    .emojiPicker {
        position: absolute;
        z-index: 2;
        top: -300px;
    }
}
