.container {
    .message {
        border: 1px solid #ddd;
        border-radius: 5px;
    }
    .systemMessage {
    }
    .messageRight {
        background: orange;
    }
    .messageLeft {
        background: cyan;
    }
}
